<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@patient.list.headline">Patients</h1>
    <div>
        <a routerLink="/patients/add" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2" i18n="@@patient.list.createNew">Create new Patient</a>
    </div>
</div>
@if (!patients || patients.length === 0) {
<div i18n="@@patient.list.empty">No Patients could be found.</div>
} @else {
<div class="overflow-x-auto">
    <table class="w-full">
        <thead>
            <tr>
                <th scope="col" class="text-left p-2" i18n="@@patient.patientId.label">Patient Id</th>
                <th scope="col" class="text-left p-2" i18n="@@patient.firstName.label">First Name</th>
                <th scope="col" class="text-left p-2" i18n="@@patient.lastName.label">Last Name</th>
                <th scope="col" class="text-left p-2" i18n="@@patient.gender.label">Gender</th>
                <th scope="col" class="text-left p-2" i18n="@@patient.birthDate.label">Birth Date</th>
                <th scope="col" class="text-left p-2" i18n="@@patient.city.label">City</th>
                <th scope="col" class="text-left p-2" i18n="@@patient.allergies.label">Allergies</th>
                <th scope="col" class="text-left p-2" i18n="@@patient.height.label">Height</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody class="border-t-2 border-black">
            @for (patient of patients; track patient.patientId) {
            <tr class="odd:bg-gray-100">
                <td class="p-2">{{ patient.patientId }}</td>
                <td class="p-2">{{ patient.firstName }}</td>
                <td class="p-2">{{ patient.lastName }}</td>
                <td class="p-2">{{ patient.gender }}</td>
                <td class="p-2">{{ patient.birthDate }}</td>
                <td class="p-2">{{ patient.city }}</td>
                <td class="p-2">{{ patient.allergies }}</td>
                <td class="p-2">{{ patient.height }}</td>
                <td class="p-2">
                    <div class="float-right whitespace-nowrap">
                        <a [routerLink]="['/patients/edit', patient.patientId]" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm" i18n="@@patient.list.edit">Edit</a>
                        <button type="button" (click)="confirmDelete(patient.patientId!)" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm" i18n="@@patient.list.delete">Delete</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
