<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@patient.edit.headline">Edit Patient</h1>
    <div>
        <a routerLink="/patients" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2" i18n="@@patient.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="patientId" rowType="number" i18n-label="@@patient.patientId.label" label="Patient Id" />
    <app-input-row [group]="editForm" field="firstName" i18n-label="@@patient.firstName.label" label="First Name" />
    <app-input-row [group]="editForm" field="lastName" i18n-label="@@patient.lastName.label" label="Last Name" />
    <app-input-row [group]="editForm" field="gender" rowType="checkbox" i18n-label="@@patient.gender.label" label="Gender" />
    <app-input-row [group]="editForm" field="birthDate" datepicker="datepicker" i18n-label="@@patient.birthDate.label" label="Birth Date" />
    <app-input-row [group]="editForm" field="city" i18n-label="@@patient.city.label" label="City" />
    <app-input-row [group]="editForm" field="allergies" i18n-label="@@patient.allergies.label" label="Allergies" />
    <app-input-row [group]="editForm" field="height" i18n-label="@@patient.height.label" label="Height" />
    <app-input-row [group]="editForm" field="weight" i18n-label="@@patient.weight.label" label="Weight" />
    <app-input-row [group]="editForm" field="province" rowType="select" [options]="provinceValues" i18n-label="@@patient.province.label" label="Province" />
    <input type="submit" i18n-value="@@patient.edit.headline" value="Edit Patient" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 mt-6" />
</form>
