<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@doctor.add.headline">Add Doctor</h1>
    <div>
        <a routerLink="/doctors" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2" i18n="@@doctor.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="firstName" i18n-label="@@doctor.firstName.label" label="First Name" />
    <app-input-row [group]="addForm" field="lastName" i18n-label="@@doctor.lastName.label" label="Last Name" />
    <app-input-row [group]="addForm" field="specialty" i18n-label="@@doctor.specialty.label" label="Specialty" />
    <input type="submit" i18n-value="@@doctor.add.headline" value="Add Doctor" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 mt-6" />
</form>
