<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@provinceName.edit.headline">Edit Province Name</h1>
    <div>
        <a routerLink="/provinceNames" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2" i18n="@@provinceName.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="provinceId" i18n-label="@@provinceName.provinceId.label" label="Province Id" />
    <app-input-row [group]="editForm" field="provinceName" i18n-label="@@provinceName.provinceName.label" label="Province Name" />
    <input type="submit" i18n-value="@@provinceName.edit.headline" value="Edit Province Name" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 mt-6" />
</form>
